.logo {
    width:301px;
    height:90px;
    margin-bottom:40px;
    display:block;
    text-indent:-9999px;
    background:url('../img/logo.png') no-repeat;
}
a {
    color:#72b506 !important;
    font-size:14px;
}
p {
    font-family:Georgia, serif !important;
}
ul {
    margin:0px !important;
}
ul li {
    display:inline;
    margin:0 5px;
}
.hero-unit {
    background:#fff !important;
}
h3 {
    margin-top:20px !important;
    font-family:Georgia, serif !important;
}
footer p {
    text-align:center;
}
.face-list li {
  float: left;
  width: 210px;
  text-align: center;
}
.schedule-list tr td:first-child {
  font-weight: bold;
  padding-right: 20px;
}
.schedule-list tr td {
  vertical-align: top;
}
.partner-list li {
  float: left;
  text-align: center;
  width: 180px;
  height: 150px;
  display:block;
}
.container > .event-content {
  margin-top: 20px;
}
.event-content p, .event-content p a, .event-content em {
  font-size: 18px;
  font-weight: 200;
  line-height: 27px;
  color: inherit;
}
.event-content small {
  font-size: 14px;
  font-weight: 200;
  color: inherit;
}
#types tr td {
    padding-right:20px;
}
#types tr td p {
	font-size:12px;
	line-height:18px;
	font-family:Arial, sans-serif !important;
	color: #666;
}
.partner_area {
	border-top:2px #ccc solid;
	border-bottom: 2px #ccc solid;
	margin:50px 0;
	padding:20px 0;
	margin-left:0 !important;
}
